mixin card(img, title, description, icon, location)
    .card 
        img.card__photo(src=require(`@assets/images/${img}`) alt="animal")
        .substrate
        .popup
            p= title
            p= location
            button.popup__button Whatch online
        .card__content
            div
                h5.title.title_5= title
                p= description
            a.card__link(href="/")
                img(src=require(`@assets/icons/${icon}`) alt="icon")