mixin picture(className, name)
    picture(class=className srcset=require(`@/assets/images/${name}`) media="(min-width: 630px)" )
    img(class=className src=require(`@/assets/images/${name}`) alt=name)