mixin picture(className, name)
    picture(class=className)
        source(srcset=require(`@assets/images/${name}-small`) media="(min-width: 630px) and (max-width: 969px)")
        source(srcset=require(`@assets/images/${name}-medium`) media="(min-width: 970px) and (max-width: 1689px)")
        source(srcset=require(`@assets/images/${name}-big`) media="(min-width: 1690px)")
        img(src=require(`@assets/images/${name}`) alt=name)
