mixin picture(className, name, ext)
    picture(class=className)
        source(srcset=require(`@assets/images/${name}-small.${ext}`) media="(min-width: 630px) and (max-width: 969px)")
        source(srcset=require(`@assets/images/${name}-medium.${ext}`) media="(min-width: 970px) and (max-width: 1689px)")
        source(srcset=require(`@assets/images/${name}-big.${ext}`) media="(min-width: 1690px)")
        img(src=require(`@assets/images/${name}.${ext}`) alt=name)
