mixin slide(className, slide)
    .slide
        .container
            .slide__inner
                each card in slide
                    - let img = card.img, title = card.title, description = card.description, icon = card.icon;
                    .card 
                        img(src=require(`@assets/images/${img}`) alt="animal")
                        title= title
                        p= description
                        img(src=require(`@assets/icons/${icon}`) alt="icon")
